@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0px;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  outline: none;
}

body {
  position: relative;
  font-family: "neue-haas-grotesk-text", sans-serif;
  background: #f9f9f9;
  color: #1d1d1f;
  font-size: 20px;
  min-height: 100vh;
}
.site-content {
  min-height: 94vh;
}
.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.container_100 {
  width: 100%;
  margin: auto;
}
.container-plateform {
  position: relative;
  width: 95%;
  float: right;
  padding-top: 64px;
  padding-right: 12px;
  min-height: 100vh;
}

.container-plateform .sidebar {
  position: relative;
  min-height: 93.1vh;
}
.left_sidebar {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-plateform .content_sidebar {
  min-height: 100%;
  background: #ffffff;
  border-radius: 64px 0px 0px 0px;
  padding: 0px;
}
.container-plateform .menu {
  margin-top: 88px;
}
.container-plateform .menu .link_tabs {
  margin-bottom: 10px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  color: #6e6e73;
  background: transparent;
  text-align: left;
  padding: 0px;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: 1s all ease;
}

.container-plateform .menu .link_tabs.active {
  color: #1d1d1f;
  opacity: 1;
}
.container-plateform .menu .link_tabs:hover {
  color: rgb(110, 110, 115);
  opacity: 1;
  text-shadow: 0 0 1px #fff;
}

.container_content_side {
  background: #fff;
  padding: 128px 150px 32px 150px;
  border-radius: 64px 0px 0px 0px;
}
.content_tabs {
  position: relative;
  height: 0px;
  list-style: none;

  margin: 0;
  padding: 0;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content_tabs .item_tabs {
  opacity: 0;
  transform: translateX(10px);
  position: absolute;
  list-style: none;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content_tabs .item_tabs.active {
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

.content_tabs .item_tabs p {
  margin: 0;
}
.mb-64 {
  margin-bottom: 64px;
}
.title_1 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  color: #1d1d1f;
  margin-bottom: 64px;
}
.title_2 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  color: #1d1d1f;
  margin-bottom: 16px;
}

P {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.row_container_tab {
  width: 100%;
}

.row_container_tab h5 {
  width: 100%;
  padding-bottom: 32px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 100%;
  color: #1d1d1f;
}

.container_client_details {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 32px 0px;
}

.row_container_tab {
  margin-bottom: 128px;
}

.row_container_tab:last-of-type {
  margin-bottom: 0px;
}
.row_container_tab .cell_client_info {
  margin-bottom: 32px;
}
.row_container_tab .cell_client_info:last-of-type {
  margin-bottom: 0px;
}
.row_container_tab .cell_client_info .label_info {
  width: 100%;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #1d1d1f;
  margin-bottom: 8px;
}

.row_container_tab .cell_client_info .info_content {
  width: 100%;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #1d1d1f;
  margin: 0px;
}
.row_container_tab .row_radio_btn {
  position: relative;
}
.pl_16 {
  padding-left: 16px;
}
.pr_16 {
  padding-right: 16px;
}

.plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plan {
  cursor: pointer;
  width: 100%;
  margin-bottom: 16px;
}
.special .plan {
  margin-bottom: 0px;
}

.plan:hover * {
  cursor: pointer;
}
.plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.4s ease;
  position: relative;
}
.plan .plan-details {
  width: 70%;
}
.plan .plan-details span {
  margin-bottom: 8px;
  display: block;
  font-size: 24px;
  line-height: 100%;
  color: #1d1d1f;
}
.plan .plan-details p {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #6e6e73;
  margin: 0px;
}

.plan .plan-offer {
  width: 30%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #1d1d1f;
  display: flex;
  justify-content: flex-end;
}

.plan .plan-content:hover * {
  transition: all 0.4s ease;
}
.plan .plan-content:hover {
  border: 1px solid #0a49e9;
}
.plan .plan-content:hover * {
  color: #0a49e9;
}
.plan.basic-plan.checked .plan-content {
  border: 1px solid #0a49e9;
  background: #fff;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.plan.basic-plan.checked .plan-content * {
  color: #0a49e9;
}
.plan input[type="radio"]:checked + .plan-content {
  border: 1px solid #0a49e9;
  background: #fff;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.plan input[type="radio"]:checked + .plan-content * {
  color: #0a49e9;
}

.first_step_package {
  display: block;
}
.second_step_package {
  display: none;
}
.first_step_package.hide {
  display: none;
}
.second_step_package.show {
  display: block;
}
.back_to_first_package {
  width: 64px;
  height: 64px;
  left: 560px;
  top: 105px;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 32px;
  border: 0px;
  outline: none;
  transition: all 0.5s ease;
}
.back_to_first_package svg {
  transition: all 0.5s ease;
}
.back_to_first_package:hover {
  background: #fff;
  border: 1px solid #c4c4c4;
}
.back_to_first_package:hover svg {
  transform: translateX(-10px);
}
.selected_host .plan.basic-plan.checked .plan-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: inherit;
}
.selected_host .plan.basic-plan.checked .plan-content * {
  color: #000;
}
.content_package {
  max-width: 90%;
  margin-left: auto;
}
.liste_host,
.liste_host li {
  list-style: none;
  padding: 0px;
}
.list_info_ewm {
  list-style: none;
  padding: 0px;
}
.list_info_ewm li {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #6e6e73;
}
.thankyou_step .big_title {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  color: #1d1d1f;
  margin-bottom: 32px;
}
.thankyou_step p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.thankyou_step {
  display: none;
}
@media screen and (max-width: 1150px) {
  .container_content_side {
    padding: 90px 80px 32px 80px;
  }
  .container-plateform .menu .link_tabs {
    font-size: 40px;
  }
  .plan .plan-offer {
    font-size: 12px;
  }
  .title_1 {
    font-size: 48px;
    margin-bottom: 36px;
  }
  .plan .plan-details p,
  p {
    font-size: 18px;
  }
  .mb-64 {
    margin-bottom: 50px;
  }
  .container-plateform .menu {
    margin-top: 60px;
  }
  .row_container_tab {
    margin-bottom: 50px;
  }
  .row_container_tab h5 {
    padding-bottom: 18px;
  }
}
@media screen and (max-width: 991px) {
  .plan {
    width: 100%;
  }

  .plan.complete-plan {
    margin-top: 20px;
  }
  .plan .plan-content .plan-details {
    width: 70%;
    display: inline-block;
  }
  .plan input[type="radio"]:checked + .plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  .container_content_side {
    padding: 60px 30px 32px 30px;
  }
  .plan .plan-content {
    padding: 20px;
  }
  .plan .plan-details span {
    font-size: 20px;
  }
  .plan .plan-details p,
  p {
    font-size: 14px;
  }
  .plan .plan-offer {
    font-size: 10px;
    margin-top: 10px;
  }
  .container-plateform .menu .link_tabs {
    font-size: 36px;
  }
  .container-plateform .menu {
    margin-top: 32px;
  }
  .title_1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .mb-64 {
    margin-bottom: 32px;
  }
  .list_info_ewm li {
    font-size: 13px;
    line-height: 112%;
  }
  .row_container_tab {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 540px) {
  .plan input[type="radio"]:checked + .plan-content:after {
    top: 20px;
    right: 10px;
  }
  .plan .plan-content .plan-details {
    width: 100%;
  }
  .plan .plan-content {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

/* inspiration */
.inspiration {
  font-size: 12px;
  margin-top: 50px;
  position: absolute;
  bottom: 10px;
  font-weight: 300;
}

.inspiration a {
  color: #666;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #c9c9c9;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #000;
}

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 21px;
  background: #fff;
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

.did-floating-input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 12px;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}
.did-floating-input:focus {
  outline: none;
}
.did-floating-input:focus ~ .did-floating-label,
.did-floating-select:focus ~ .did-floating-label {
  top: -6px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top: -6px;
  font-size: 13px;
}

.signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.signature-component h1 {
  margin-bottom: 0;
}
.signature-component h2 {
  margin: 0;
  font-size: 100%;
}
.signature-component button {
  padding: 1em;
  background: transparent;
  box-shadow: 2px 2px 4px #777;
  margin-top: 0.5em;
  border: 1px solid #777;
  font-size: 1rem;
}
.signature-component button.toggle {
  background: rgba(255, 0, 0, 0.2);
}
.signature-component canvas {
  display: block;
  position: relative;
  border: 1px solid;
}
.signature-component img {
  position: absolute;
  left: 0;
  top: 0;
}
.sig-canvas {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  cursor: crosshair;
}
.canvas_signature {
  width: 100%;
  max-height: 268px;
}

.container_signature {
  position: relative;
  width: 100%;
  height: 267px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 730px;
  height: 232px;
}
.get_signature {
  display: none;
}
.btns_signature {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 16px;
}
.btn_save_signature {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #0a49e9;
  background: #fff;
  border: 1px solid #0a49e9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  width: 100%;
}
.btn_clear_signature {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #6e6e73;
  background: none;
  outline: none;
  border: 1px solid #6e6e73;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  width: 100%;
}
.btn_send {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  background: #0a49e9;
  outline: none;
  border: 1px solid #0a49e9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  margin-top: 64px;
  text-align: center;
  width: 100%;
}
.form_signature {
  margin-top: 64px;
}
.btn_signature {
  margin-bottom: 16px;
}
.btn_signature:last-of-type {
  margin-bottom: 0px;
}
.error_required_signature {
  display: none;
}
.get_signatureimg {
  display: none;
}
.signature_val {
  height: 1px;
  width: 100%;
  opacity: 0;
}
.block_input {
  display: flex;
  flex-direction: column;
}
.block_input input {
  width: 100%;
}
.block_input .error {
  width: 100%;
  color: red;
  font-size: 14px;
}
.block_info_mobile {
  display: none;
}
.block_info_desktop {
  display: block;
}
.pageloader .logo_loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(249, 249, 249, 0.97);
}
.loader {
  width: 5px;
  height: 5px;
  animation: loading 1s infinite ease-out;
  position: relative;
  top: 18px;
  left: -10px;
  border-radius: 50%;
  background-color: red;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .content_package {
    max-width: 100%;
    margin: auto;
  }
  .plan .plan-offer {
    display: flex;
    width: 100%;
  }

  .inspiration {
    display: none;
  }
  .container-plateform {
    width: 90%;
    margin: auto;
    float: none;
    padding-right: 0px;
  }
  .container_content_side {
    padding: 0px;
  }
  .container-plateform .sidebar,
  .container-plateform .content_sidebar {
    min-height: auto;
    background: transparent;
  }
  .container-plateform .menu {
    margin-top: 40px;
  }
  .content_tabs .item_tabs {
    background: #fff;
    padding: 16px;
  }
  .plan .plan-content .plan-details {
    width: 100%;
    display: inline-block;
  }
  .left_sidebar {
    min-height: auto;
  }
  .container_content_side {
    border-radius: 10px;
    padding: 20px;
  }
  .d_f_mobile {
    display: flex;
  }
  .d_f_mobile .cell_client_info {
    width: 50%;
  }
  .row_container_tab h5 {
    font-size: 24px;
    margin: 0px;
  }
  .back_to_first_package {
    margin-bottom: 20px;
  }
  .block_info_mobile {
    display: block;
  }
  .block_info_mobile ul {
    padding-top: 32px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .list_info_ewm li {
    font-size: 15px;
    line-height: 125%;
  }
  .block_info_desktop {
    display: none;
  }
  .thankyou_step {
    min-height: 70vh;
  }
  .form_signature {
    margin-top: 30px;
  }
  .btn_send {
    margin-top: 32px;
  }
  .row_container_tab .cell_client_info .label_info {
    font-weight: bold;
  }
  p {
    line-height: 24px;
  }
}
